.container {
  /* background-color: black; */
  margin: 1.5rem;
}

.form-container {
  width: 50%;
  margin: 0 auto;
  border: 2px solid black;
  padding: 10px;
}

.email-container {
  text-align: center;
  padding: 10px;
}

.password-container {
  text-align: center;
  padding: 10px;
}

.button-container {
  text-align: center;
  padding: 10px;
}

label,
button {
  font-size: large;
}

.options-container {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
